(
    defs: [
        (
            id: "wobble",
            name: "Wobble",
            gltf: "critters/wobble/wobble.glb",
            ui_animations: (
                preview: 0,
                celebrate: 1,
                idle: 2,
            ),
            desktop_animations: (),
        ),
        (
            id: "flop",
            name: "Flop",
            gltf: "critters/flop/flop.glb",
            ui_animations: (
                preview: 0,
                celebrate: 1,
                idle: 2,
            ),
            desktop_animations: (),
        ),
    ],
)
