[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "*"
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
libsql-experimental = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.11"
