[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
beautifulsoup4 = "*"
libsql-experimental = "*"
urllib3 = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.12"
